<div class="container">

    <div class="title">
        <h3>{{siteName}}</h3>
        <h4>{{organization}}</h4>
        <h5>{{address}}</h5>
        <a href="{{website}}" target="_blank">Website</a>
        <p>{{phone}}</p>
        <p>{{email}}</p>
    </div>
</div>