<div class="container">

    <div class="title">
        <h3>All the beaches for {{counties.[0].county}} County:</h3>


    </div>




    {{#each counties}}
    <div class="row display-flex beach" data-id={{id}}>
        <div class="col-lg-10">
            <div class="beach_infos">
                <h4>{{siteName}}</h4>
                <h5>{{address}}</h5>
                <h6>{{organization}}</h6>
            </div>

        </div>

        <div class="col-lg-2 arrow">
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>

    {{/each}}

</div>