<div class="main">
    <h1>Hello World</h1>

    {{#each counties}}
    <p>{{siteName}}</p>
    <p>{{address}}</p>
    <p>{{website}}</p>
    <p>{{organization}}</p>
    <p>{{phone}}</p>
    <p>{{email}}</p>
    <p>-----</p>

    {{/each}}

</div>